@{
    ViewBag.Title = "Home";
}

    <div class="jumbotron">
        <p><h1>Welcome</h1><img src="~/Content/img/chill.png" width="350" height="210"></p>
        <p class="lead">Come and Treat yourself</p>
        <p><a href=@Url.Action("Index", "Items") class="btn btn-primary btn-lg">Browse Menu &raquo;</a></p>
    </div>
